body {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-image: url(./sunny.jpg);
    background-position: center;
    background-size: cover;
}

#main {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

#forecast {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 4;
    padding: 10px;
    gap: 10px;
    align-items: center;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

#date {
    grid-column: 1;
}

#description {
    grid-column: 1;
    font-size: 2rem; 
}

#location {
    grid-column: 1;
    font-size: 4rem;
}

#temperature {
    grid-column: 2;
    grid-row: 1 / 4;
    font-size: 8rem;
}